<div class="flex justify-center gap-3 items-center">
  <button (click)="decrease()" [ngClass]="{'invisible': currentSetIndex === 0}">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
    </svg>

  </button>
  <div class="text-3xl font-bold">BO{{ gameSet[currentSetIndex] }}</div>
  <button (click)="increase()" [ngClass]="{'invisible': currentSetIndex === gameSet.length-1}">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
    </svg>

  </button>
</div>
