@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Fira';
  src: url('assets/FiraCodeNerdFont-Regular.ttf');
}

.w-bg {
  background-image: url("assets/bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

i.fira {
  font-style: normal;
  font-family: Fira;
}
